.card {
  display: flex;
  flex-direction: column;
  height: 8.75rem;
  width: 6.25rem;
  position: absolute;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.open .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  border: 1px #bbb solid;
  box-sizing: border-box;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #ececec;
  font-family:
    Monaco,
    Consolas,
    Lucida Console,
    monospace;
  display: block;
  transform: rotateY(180deg);

  .top {
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    font-size: 1rem;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2rem;
    text-align: center;

    .rank {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .rank2,
    .rank4 {
      line-height: 4.7rem;
    }
    .rank2 div,
    .rank3 div {
      width: 100%;
    }
    .rank5 {
      line-height: 4.5rem;
    }
    .rank4 div,
    .rank5 div,
    .rank6 div,
    .rank7 div,
    .rank8 div,
    .rank9 div,
    .rank10 div {
      width: 50%;
    }
    .rank5 div:nth-child(3),
    .rank7 div:nth-child(5),
    .rank9 div:nth-child(7),
    .rank10 div:nth-child(3),
    .rank10 div:nth-child(8) {
      width: 100%;
      line-height: .2rem;
    }
    .rank6 {
      line-height: 2.2rem;
    }
    .rank7 {
      line-height: 2.2rem;
    }
    .rank8 {
      line-height: 1.5rem;
    }
    .rank9 {
      line-height: 1.5rem;
    }
    .rank10 {
      line-height: 1.5rem;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    font-size: 1rem;
  }
}

.card-back {
  --s: 2rem;
  --c1: #2a6667;
  --c2: #46094f;
  --c3: rgb(139, 7, 130);

  --_g: var(--c3) 0 120deg, #0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(from 60deg at calc(200% / 3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 * var(--s)) var(--s);
}
