<div [id]="card().value" class="card" [class.open]="!card().closed">
  <div class="card-inner">
    <div class="card-back"></div>

    <div class="card-front" [id]="card().value" [style.color]="getColor()">
      <div class="top">{{ card().value }}</div>
      <div class="center">
        <div [class]="'rank rank' + getRank()">
          @for (suit of getSuits(); track $index) {
            <div>{{ suit }}</div>
          }
        </div>
      </div>
      <div class="bottom">{{ card().value }}</div>
    </div>
  </div>
</div>
