<ng-template #card let-index>
  <div
    class="card_container"
    [appDrag]="draggable(index)"
    (appDragStart)="dragstart(index)"
    (appDragEnd)="dragging.set(undefined)"
  >
    <app-card [card]="cards()[index]"></app-card>
    @if (index > 0) {
      <ng-container *ngTemplateOutlet="card; context: { $implicit: index - 1 }" />
    }
  </div>
</ng-template>

<div
  class="pile"
  (appDrop)="canPlace() && dropped.emit(id())"
  (click)="flip()"
  (dblclick)="cards().length > 0 && toFoundation.emit([id(), cards()[0]])"
>
  @if (cards() && cards().length > 0) {
    <ng-container *ngTemplateOutlet="card; context: { $implicit: cards().length - 1 }" />
  }
</div>
