:host {
    display: contents;
}

.pile {
    display: block;
    width: 7.5rem;
    height: 30rem;
}

.card_container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1.25rem, max-content));
    color: #aaaaaa;
}
