<ng-template #card let-index>
  <div
    class="card_container"
    [draggable]="draggable(index)"
    (dragstart)="dragstart(index)"
    (dragend)="dragging.set(undefined)"
  >
    <app-card
      [style.visibility]="isDragging(index) ? 'hidden' : 'visible'"
      [card]="cards()[index]"
    ></app-card>
    @if (index > 0) {
      <ng-container *ngTemplateOutlet="card; context: { $implicit: index - 1 }" />
    }
  </div>
</ng-template>

<div
  class="pile"
  (drop)="canPlace() && dropped.emit(id())"
  (dragover)="$event.preventDefault()"
  (click)="flip()"
  (dblclick)="cards().length > 0 && tryMove.emit([id(), cards()[0]])"
>
  @if (cards() && cards().length > 0) {
    <ng-container *ngTemplateOutlet="card; context: { $implicit: cards().length - 1 }" />
  }
</div>
