<div
  class="pile"
  (appDrop)="canPlace() && dropped.emit(id())"
  (dblclick)="
    cards().length > 0 && toFoundation.emit({ from: id(), card: cards()[cards().length - 1] })
  "
>
  @for (card of cards(); let i = $index; track i) {
    <div
      class="card_container_pile"
      [style.--index]="i"
      [appDrag]="draggable(i)"
      [appDragIndex]="i"
      (appDragStart)="dragstart(i)"
      (appDragEnd)="dragging.set(undefined)"
    >
      <app-card [card]="card"></app-card>
    </div>
  }
</div>
