<div class="board">
  <div class="card_row">
    <app-stock
      [id]="OPEN_STOCK"
      [(cards)]="playingCards[CLOSED_STOCK]"
      [(open)]="playingCards[OPEN_STOCK]"
      [(dragging)]="dragging"
      (toFoundation)="toFoundation($event)"
    ></app-stock>
    <div class="empty_space"></div>
    @for (foundation of FOUNDATIONS; track foundation) {
      <app-foundation
        [id]="foundation"
        [cards]="playingCards[foundation]"
        [(dragging)]="dragging"
        (dropped)="drop($event, dragging())"
      ></app-foundation>
    }
  </div>
  <div class="card_row">
    @for (pile of PILES; track pile) {
      <app-pile
        [id]="pile"
        [cards]="playingCards[pile]"
        [(dragging)]="dragging"
        (dropped)="drop($event, dragging())"
        (toFoundation)="toFoundation($event)"
      ></app-pile>
    }
  </div>
</div>

<div
  id="overlay"
  [style.display]="finish() ? 'block' : 'none'"
  (click)="finish.set(false); startGame()"
>
  <div id="finish">You won!</div>
</div>
