.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1000px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  padding: 1rem 0;
  box-sizing: border-box;
}

.card_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  &.top {
    height: 25%;
  }

  &.bottom {
    height: 70%;
  }
}

app-stock {
  flex: 2;
}

.empty_space {
  flex: 1;
}

.foundations {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

#finish-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#finish {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8vw;
  color: white;
  transform: translate(-50%, -50%);
}
