<div class="stock">
  <div class="pile" (click)="flip()">
    <div class="empty"></div>
    @for (card of cards(); track $index) {
      <div class="card_container" [style.--index]="$index">
        <app-card [card]="card"></app-card>
      </div>
    }
  </div>
  <div
    class="pile"
    (dblclick)="open().length > 1 && toFoundation.emit([id(), open()[open().length - 1]])"
  >
    @for (card of open(); track $index) {
      <div
        class="card_container"
        [style.--index]="$index"
        [appDrag]="$last"
        [appDragIndex]="$index"
        (appDragStart)="dragging.set([id(), [open()[open().length - 1]]])"
        (appDragEnd)="dragging.set(undefined)"
      >
        <app-card [card]="card"></app-card>
      </div>
    }
  </div>
</div>
