:host {
  height: 100%;
  width: 100%;
}

.stock {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.pile {
  position: relative;
  width: 100%;
  height: 100%;
}

.card_container {
  position: absolute;
  top: calc(var(--index) * 0.5%);
  left: 0;
  width: 100%;
}

.empty {
  position: absolute;
  background-color: #400040;
  border-radius: 5%;
  height: 20vh;
  aspect-ratio: 2 / 3;
}
