<div class="stock">
  <div class="pile" (click)="flip()">
    <div class="bottom"></div>
    @for (card of cards(); track $index) {
      <app-card [card]="card"></app-card>
    }
  </div>
  <div class="pile">
    @for (card of open().reverse(); track $index) {
      <app-card
        [card]="card"
        [draggable]="$last"
        (dragstart)="dragging.set([id(), [open()[0]]])"
        (dragend)="dragging.set(undefined)"
        (dblclick)="tryMove.emit([id(), open()[0]])"
      ></app-card>
    }
  </div>
</div>
